#########################################################################################
log                log.configs
#########################################################################################
# mW model simulation, for production configurations, LAMMPS

units           real
dimension       3
boundary        p p p
atom_style      full

processors      * * 1

#------------------- Parameters -------------------#

variable        area equal 7437.3376        ## surface area, unit: ANG^2
variable        targetTemp equal 220        

#--------------------------------------------------#

############################################################ READ FILE

read_restart    restart.*.ramp

############################################################ INTERACTION

pair_style      hybrid lj/cut 13.0 sw

pair_coeff      * * sw mW.sw mW NULL NULL
pair_coeff      1 2 lj/cut 1.15 2.34        # substrate - mW water, Ead = 6.44 kcal/mole
pair_coeff      1 3 lj/cut 1.15 2.34      # upper wall - mW water, Ead = 6.44 kcal/mole


pair_coeff      2 3 lj/cut 0.0 2.7410       # Pt, here stands for substrate - upper wall

pair_coeff      2 2 lj/cut 15.9751 2.4710       # Pt, substrate - substrate
pair_coeff      3 3 lj/cut 15.9751 2.4710       # Pt, upper wall - upper wall

pair_modify	    shift yes mix arithmetic

neighbor        2.0 bin
neigh_modify    delay 1 check yes

############################################################ GROUPS
group           water type 1
group           substrate type 2
group           upperwall type 3

fix             2 freezeUPWall setforce 0.0 0.0 0.0       ### constraint on topmost wall, allow longitudinal moving

############################################################   RUN PARAMETERS

compute       	Tw water temp/com
compute         Pliquid water pe/atom
compute         Pw water reduce sum c_Pliquid
compute         Kliquid water ke/atom
compute         Kw water reduce sum c_Kliquid

compute         waterSub water group/group substrate
variable	    locF equal c_waterSub[3]   #### Local force on substrate

compute         waterUP water group/group upperwall
variable	    locFUP equal c_waterUP[3]   #### Local force on upper wall

compute		    wallTemp mobWall temp/com
compute         wallAtomPE substrate pe/atom
compute         wallPE substrate reduce sum c_wallAtomPE

compute		    UPwallTemp mobUPWall temp/com
compute         UPwallAtomPE upperwall pe/atom
compute         UPwallPE upperwall reduce sum c_UPwallAtomPE

############################################################   ENSEMBLE (without vibration)

fix             waterNVE water nve

fix 	    	movNveWall mobWall nve
fix             wallthermo mobWall temp/berendsen ${targetTemp} ${targetTemp} 500.0
fix_modify	    wallthermo temp wallTemp

fix 	    	movNveUPWall mobUPWall nve
fix             UPwallthermo mobUPWall temp/berendsen ${targetTemp} ${targetTemp} 500.0
fix_modify	    UPwallthermo temp UPwallTemp

############################################################   OUTPUT
timestep        5.0

thermo_style    custom step c_Tw temp c_Pw c_Kw pe etotal vol press lx ly lz
thermo          1000
thermo_modify   flush yes

fix             writeFile all ave/time 1 1 100 c_Tw c_Pw c_Kw v_locF v_locFUP c_wallTemp c_wallPE c_UPwallTemp c_UPwallPE file config.txt
dump            1 all custom 100000 config.lammpstrj id type mol q x y z vx vy vz

restart 		400000 restart.*.config
run             4000000  ### Run 20 ns with 2 ns break as production configurations

undump          1
unfix           waterNVE
unfix           movNveWall
unfix           wallthermo
unfix           movNveUPWall
unfix           UPwallthermo